.f-container{
 background-color: blue;
 display:flex;
 justify-content: flex-end;
 border: 2px solid black;
}
.f-item{
 text-align: center;
 width: 20%;
 height: 20%;
 color: black;
 background-color: brown;
 border:2px solid black;
 margin: 12px;
}
a{
 margin-inline: 1em;
 text-decoration: none;
 color: black;
}